{% extends 'base.html' %}

{% block content %}
      <div id="jumb" class="jumbotron">
        <label>CHALLENGES: </label>
        <p>
          <span class="web150"><button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#web150">Heap Flow</button></span>
          <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#web300">Web SSL</button>
          <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">Over in Over</button>
          <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">Stack or Heap</button>
          <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">binary of course</button>
          <span class="web150"><button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#web150">Regex so easy</button></span>
          <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#web300">Keygen security</button>
          <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">Mult Holder</button>
          <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">Bit per Bit</button>
          <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">House of token</button>
        </p>
      </div>

      {% with messages = get_flashed_messages() %}
          {% if messages %}
          <div class="alert alert-success alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          </div>
          {% endif %}
        {% endwith %}

      <div class="jumbotron">
        <form class="form-inline" method="POST" action="">
          {{ form.csrf_token }}
          <div class="form-group">
            <label for="send_flag">FLAG:</label>
            {{ form.flag(class="form-control",
            placeholder="Flag HERE!") }}
            {% if form.errors.flag %}
            <div class="alert alert-danger" role="alert">
              {{ form.errors.flag }}
            </div>
            {% endif %}
          </div>
        <button type="submit" id="flag-submission" class="btn btn-danger">Submit</button>
        </form>
      </div>

    </div> <!-- /container -->

    <!-- Modal -->
    <div class="modal fade" id="web150" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Web ssl</h4>
          </div>
          <div class="modal-body">
            <p>Uma de nossas máquinas está com problemas, invada ela, owne ela e descubra a flag<br>web.127.0.0.1/machine</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <span class="flag-submission"><button type="submit" class="btn btn-danger">Send</button></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="web300" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">heap flow</h4>
        </div>
        <div class="modal-body">
          <p>O tempo está batendo na sua porta, soul inventou um binário para reverter o tempo, você pode dizer a ele como reverter esse binário e achar a flag?<br></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>

  </body>
</html>
{% endblock %}
