{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
  <body>
    <h2 class="sub-header">Solved</h2>
      <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        {% for chal in chall %}
        {% if chal.id in current_user.get_chal() %}
        <tr>
          <th>{{ chal.id }}</th>
          <th>{{ chal.name }}</th>
          <th>{{ chal.category }}</th>
          <th>{{ chal.value }}</th>
        </tr>
        {% endif %}
        {% endfor %}
        </thead>
      </table>
    </div>
  </body>
</html>
{% endblock %}
