<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Heaven Labs</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',
     filename='css/bootstrap.min.css') }}" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="/register">Register</a></li>
            <li role="presentation"><a href="/login">Login</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Heaven Capture The Flag</h3>
      </div>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-warning">
              <ul class=flashes>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
              </ul>
            </div>
            {% endif %}
          {% endwith %}

      {% block content %}
      {% endblock %}

      <footer class="footer" style="clear:both;">
        <p>&copy; 2016 Company, Inc.</p>
      </footer>

    </div> <!-- /container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.m
    in.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')
    }}"></script>
  </body>
</html>
