{% extends 'base.html' %}

{% block content %}
<link href="{{ url_for('static',
 filename='css/bootstrap.min.css') }}" rel="stylesheet">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
  <tbody>
    {% if users %}
    {% for user in users %}
    <tr>
      <th scope="row">{{ rank(user.username) }}</th>
      <td>{{ user.username }}</td>
      <td>{{ user.score }}</td>
    </tr>
    {% endfor %}
    {% endif %}
  </tbody>
</table>
{% endblock %}
